body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0 !important;
  overflow-y: scroll;
  border: 1px solid blue;
}

.table {
  text-align: center;
  max-width: none;
  width: 0;
  margin: 0 auto;
  border: 1px solid;
  margin: 32px auto;
}

th {
  min-width: 150px;
  padding: 0 !important;
  height: 90px !important;
  vertical-align: middle !important;
}

.desc-box {
  width: 320px;
  margin-top: 32px;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .container-fluid {
    width: 768px;
  }

  th {
    min-width: 180px;
  }

  .desc-box {
    width: 100%;
    margin-top: 32px;
    padding: 0 32px;
  }
}

@media (min-width: 1024px) {
  .container-fluid {
    width: 1024px;
  }

  th {
    min-width: 220px;
  }
}

@media (min-width: 1440px) {
  .container-fluid {
    width: 1440px;
  }

  th {
    min-width: 280px;
  }
}
